.navigation-links7-nav {
  flex: 0 0 auto;
  display: flex;
  align-items: center;
  flex-direction: row;
}
.navigation-links7-text1 {
  margin-left: var(--dl-space-space-twounits);
}
.navigation-links7-text2 {
  margin-left: var(--dl-space-space-twounits);
}
.navigation-links7-text3 {
  margin-left: var(--dl-space-space-twounits);
}
.navigation-links7-text4 {
  margin-left: var(--dl-space-space-twounits);
}








@media(max-width: 767px) {
  .navigation-links7-nav {
    align-items: flex-start;
    flex-direction: column;
  }
  .navigation-links7-text {
    margin-bottom: var(--dl-space-space-unit);
  }
  .navigation-links7-text1 {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
  .navigation-links7-text2 {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
  .navigation-links7-text3 {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
  .navigation-links7-text4 {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
}

.home-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
  list-style-type: disc;
  background-color: #202020;
  list-style-image: none;
  list-style-position: outside;
}
.home-header {
  width: 100%;
  display: flex;
  max-width: var(--dl-size-size-maxwidth);
  min-width: 100%;
  align-items: center;
  padding-top: var(--dl-space-space-twounits);
  padding-left: var(--dl-space-space-threeunits);
  padding-right: var(--dl-space-space-threeunits);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-twounits);
  background-color: rgba(0,0,0,0.3);
  list-style-image: none;
}
.home-image {
  width: 267px;
  height: 55px;
}
.home-accordion-header {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.home-icon {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
  display: none;
}
.home-accordion-content {
  display: flex;
  overflow: hidden;
  max-height: 0;
  transition: 0.3s ease-in-out;
  align-items: center;
  flex-direction: column;
}
.home-nav {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.home-image1 {
  top: 0px;
  left: 0px;
  right: 0px;
  width: var(--dl-size-size-xxlarge);
  bottom: 0px;
  height: var(--dl-size-size-xxlarge);
  margin: auto;
  position: absolute;
  box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.21);
  object-fit: cover;
  border-radius: 15px;
}
.home-footer {
  left: 0px;
  width: 100%;
  bottom: 0px;
  display: flex;
  position: absolute;
  max-width: var(--dl-size-size-maxwidth);
  min-width: 100%;
  align-items: center;
  padding-top: var(--dl-space-space-twounits);
  padding-left: var(--dl-space-space-threeunits);
  padding-right: var(--dl-space-space-threeunits);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-twounits);
  justify-content: space-between;
  background-color: #363636;
}
.home-container1 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.home-text {
  color: var(--dl-color-gray-700);
  font-size: 12px;
}
.home-icon-group {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.home-icon2 {
  fill: var(--dl-color-gray-700);
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
  margin-right: var(--dl-space-space-twounits);
}
.home-icon4 {
  fill: var(--dl-color-gray-700);
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
  margin-right: var(--dl-space-space-twounits);
}
.home-icon6 {
  fill: var(--dl-color-gray-700);
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}
@media(max-width: 991px) {
  .home-nav {
    padding-top: 16px;
  }
}
@media(max-width: 767px) {
  .home-header {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .home-icon {
    display: flex;
  }
  .home-footer {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .home-container1 {
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
  }
  .home-text {
    margin-bottom: var(--dl-space-space-oneandhalfunits);
  }
}
@media(max-width: 479px) {
  .home-header {
    padding: var(--dl-space-space-unit);
  }
  .home-footer {
    padding: var(--dl-space-space-unit);
  }
  .home-container1 {
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
  }
  .home-text {
    text-align: center;
    margin-bottom: var(--dl-space-space-oneandhalfunits);
  }
}
