.index-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
  list-style-type: disc;
  background-color: #202020;
  list-style-image: none;
  list-style-position: outside;
}
.index-header {
  width: 100%;
  display: flex;
  max-width: var(--dl-size-size-maxwidth);
  min-width: 100%;
  align-items: center;
  padding-top: var(--dl-space-space-twounits);
  padding-left: var(--dl-space-space-threeunits);
  padding-right: var(--dl-space-space-threeunits);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-twounits);
  background-color: rgba(0,0,0,0.3);
  list-style-image: none;
}
.index-link {
  display: contents;
}
.index-image {
  width: 267px;
  height: 55px;
  text-decoration: none;
}
.index-link1 {
  display: contents;
}
.index-image1 {
  top: 0px;
  left: 0px;
  right: 0px;
  width: var(--dl-size-size-xxlarge);
  bottom: 0px;
  height: var(--dl-size-size-xxlarge);
  margin: auto;
  position: absolute;
  box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.21);
  object-fit: cover;
  border-radius: 15px;
  text-decoration: none;
}
.index-footer {
  left: 0px;
  width: 100%;
  bottom: 0px;
  display: flex;
  position: absolute;
  max-width: var(--dl-size-size-maxwidth);
  min-width: 100%;
  align-items: center;
  padding-top: var(--dl-space-space-twounits);
  padding-left: var(--dl-space-space-threeunits);
  padding-right: var(--dl-space-space-threeunits);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-twounits);
  justify-content: space-between;
  background-color: #363636;
}
.index-container1 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.index-text {
  color: var(--dl-color-gray-700);
  font-size: 12px;
}
.index-icon-group {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.index-link2 {
  display: contents;
}
.index-icon {
  fill: var(--dl-color-gray-700);
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
  margin-right: var(--dl-space-space-twounits);
  text-decoration: none;
}
.index-link3 {
  display: contents;
}
.index-icon2 {
  fill: var(--dl-color-gray-700);
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
  margin-right: var(--dl-space-space-twounits);
  text-decoration: none;
}
.index-link4 {
  display: contents;
}
.index-icon4 {
  fill: var(--dl-color-gray-700);
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
  text-decoration: none;
}
@media(max-width: 767px) {
  .index-header {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .index-footer {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .index-container1 {
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
  }
  .index-text {
    margin-bottom: var(--dl-space-space-oneandhalfunits);
  }
}
@media(max-width: 479px) {
  .index-header {
    padding: var(--dl-space-space-unit);
  }
  .index-footer {
    padding: var(--dl-space-space-unit);
  }
  .index-container1 {
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
  }
  .index-text {
    text-align: center;
    margin-bottom: var(--dl-space-space-oneandhalfunits);
  }
}
