.gallery-card2-gallery-card {
  width: 100%;
  height: 100%;
  display: flex;
  position: relative;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.gallery-card2-container {
  width: 100%;
  height: 100%;
  display: flex;
  opacity: 0;
  z-index: 1;
  transition: 0.3s;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
  background-color: #00000096;
}
.gallery-card2-container:hover {
  opacity: 1;
}
.gallery-card2-container1 {
  width: 100%;
  height: 100%;
  display: flex;
  padding: var(--dl-space-space-twounits);
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.gallery-card2-text {
  color: var(--dl-color-gray-white);
  font-style: normal;
  text-align: center;
  font-weight: 500;
  margin-bottom: var(--dl-space-space-oneandhalfunits);
}
.gallery-card2-text1 {
  color: var(--dl-color-gray-white);
  text-align: center;
  margin-bottom: var(--dl-space-space-oneandhalfunits);
}
.gallery-card2-text2 {
  color: var(--dl-color-gray-white);
  font-style: normal;
  font-weight: 700;
  text-transform: uppercase;
}
.gallery-card2-image {
  top: 0px;
  left: auto;
  right: 0px;
  width: 100%;
  bottom: auto;
  height: 100%;
  position: absolute;
  object-fit: cover;
}




@media(max-width: 767px) {
  .gallery-card2-gallery-card {
    flex-direction: column;
  }
}
@media(max-width: 479px) {
  .gallery-card2-container {
    max-width: auto;
  }
  .gallery-card2-image {
    top: 0px;
    left: 0px;
    right: auto;
    bottom: auto;
  }
}

.index-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
  list-style-type: disc;
  background-color: #202020;
  list-style-image: none;
  list-style-position: outside;
}
.index-header {
  width: 100%;
  display: flex;
  max-width: var(--dl-size-size-maxwidth);
  min-width: 100%;
  align-items: center;
  padding-top: var(--dl-space-space-twounits);
  padding-left: var(--dl-space-space-threeunits);
  padding-right: var(--dl-space-space-threeunits);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-twounits);
  background-color: rgba(0,0,0,0.3);
  list-style-image: none;
}
.index-link {
  display: contents;
}
.index-image {
  width: 267px;
  height: 55px;
  text-decoration: none;
}
.index-footer {
  left: 0px;
  right: 0px;
  width: 100%;
  bottom: 0px;
  display: flex;
  position: absolute;
  max-width: var(--dl-size-size-maxwidth);
  min-width: 100%;
  align-self: center;
  align-items: center;
  padding-top: var(--dl-space-space-twounits);
  padding-left: var(--dl-space-space-threeunits);
  padding-right: var(--dl-space-space-threeunits);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-twounits);
  justify-content: space-between;
  background-color: #363636;
}
.index-container1 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.index-text {
  color: var(--dl-color-gray-700);
  font-size: 12px;
}
.index-icon-group {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.index-link1 {
  display: contents;
}
.index-icon {
  fill: var(--dl-color-gray-700);
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
  margin-right: var(--dl-space-space-twounits);
  text-decoration: none;
}
.index-link2 {
  display: contents;
}
.index-icon2 {
  fill: var(--dl-color-gray-700);
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
  margin-right: var(--dl-space-space-twounits);
  text-decoration: none;
}
.index-link3 {
  display: contents;
}
.index-icon4 {
  fill: var(--dl-color-gray-700);
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
  text-decoration: none;
}
.index-gallery {
  top: 0px;
  width: 100%;
  bottom: 0px;
  height: 709px;
  margin: auto;
  display: flex;
  position: absolute;
  max-width: var(--dl-size-size-maxwidth);
  align-items: center;
  padding-top: var(--dl-space-space-twounits);
  padding-left: var(--dl-space-space-threeunits);
  padding-right: var(--dl-space-space-threeunits);
  padding-bottom: var(--dl-space-space-twounits);
}
.index-container2 {
  flex: 3;
  height: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.index-container3 {
  flex: 1;
  width: 100%;
  height: 100%;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-direction: row;
}
.index-container4 {
  flex: 1;
  height: 100%;
  display: flex;
  padding: var(--dl-space-space-halfunit);
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.index-navlink {
  display: contents;
}
.index-gallery-card2 {
  text-decoration: none;
}
.index-container5 {
  flex: 1;
  height: 100%;
  display: flex;
  padding: var(--dl-space-space-halfunit);
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.index-navlink1 {
  display: contents;
}
.index-gallery-card21 {
  text-decoration: none;
}
.index-container6 {
  flex: 1;
  height: 100%;
  display: flex;
  padding: var(--dl-space-space-halfunit);
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.index-navlink2 {
  display: contents;
}
.index-gallery-card22 {
  text-decoration: none;
}
@media(max-width: 767px) {
  .index-header {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .index-footer {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .index-container1 {
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
  }
  .index-text {
    margin-bottom: var(--dl-space-space-oneandhalfunits);
  }
  .index-gallery {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .index-container3 {
    flex-direction: column;
  }
  .index-container4 {
    width: 100%;
  }
  .index-container5 {
    width: 100%;
  }
  .index-container6 {
    width: 100%;
  }
}
@media(max-width: 479px) {
  .index-header {
    padding: var(--dl-space-space-unit);
  }
  .index-footer {
    padding: var(--dl-space-space-unit);
  }
  .index-container1 {
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
  }
  .index-text {
    text-align: center;
    margin-bottom: var(--dl-space-space-oneandhalfunits);
  }
  .index-gallery {
    padding: var(--dl-space-space-unit);
    flex-direction: column;
  }
  .index-container2 {
    width: auto;
  }
}
