.music-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
  list-style-type: disc;
  background-color: #202020;
  list-style-image: none;
  list-style-position: outside;
}
.music-header {
  width: 100%;
  display: flex;
  max-width: var(--dl-size-size-maxwidth);
  min-width: 100%;
  align-items: center;
  padding-top: var(--dl-space-space-twounits);
  padding-left: var(--dl-space-space-threeunits);
  padding-right: var(--dl-space-space-threeunits);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-twounits);
  background-color: rgba(0,0,0,0.3);
  list-style-image: none;
}
.music-image {
  width: 267px;
  height: 55px;
}
.music-footer {
  left: 0px;
  width: 100%;
  bottom: 0px;
  display: flex;
  position: absolute;
  max-width: var(--dl-size-size-maxwidth);
  min-width: 100%;
  align-items: center;
  padding-top: var(--dl-space-space-twounits);
  padding-left: var(--dl-space-space-threeunits);
  padding-right: var(--dl-space-space-threeunits);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-twounits);
  justify-content: space-between;
  background-color: #363636;
}
.music-container1 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.music-text {
  color: var(--dl-color-gray-700);
  font-size: 12px;
}
.music-icon-group {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.music-icon {
  fill: var(--dl-color-gray-700);
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
  margin-right: var(--dl-space-space-twounits);
}
.music-icon2 {
  fill: var(--dl-color-gray-700);
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
  margin-right: var(--dl-space-space-twounits);
}
.music-icon4 {
  fill: var(--dl-color-gray-700);
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}
@media(max-width: 767px) {
  .music-header {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .music-footer {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .music-container1 {
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
  }
  .music-text {
    margin-bottom: var(--dl-space-space-oneandhalfunits);
  }
}
@media(max-width: 479px) {
  .music-header {
    padding: var(--dl-space-space-unit);
  }
  .music-footer {
    padding: var(--dl-space-space-unit);
  }
  .music-container1 {
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
  }
  .music-text {
    text-align: center;
    margin-bottom: var(--dl-space-space-oneandhalfunits);
  }
}
