.navigation-links-nav {
  flex: 0 0 auto;
  display: flex;
  align-items: center;
  flex-direction: row;
}
.navigation-links-navlink {
  text-decoration: none;
}
.navigation-links-navlink1 {
  margin-left: var(--dl-space-space-twounits);
  text-decoration: none;
}






















@media(max-width: 767px) {
  .navigation-links-nav {
    align-items: flex-start;
  }
}

.music-container {
  width: 100%;
  display: flex;
  overflow: hidden;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  list-style-type: disc;
  background-color: #f1f1f1;
  list-style-image: none;
  list-style-position: outside;
}
.music-header {
  width: 100%;
  display: flex;
  align-items: center;
  padding-top: var(--dl-space-space-twounits);
  padding-left: var(--dl-space-space-threeunits);
  padding-right: var(--dl-space-space-threeunits);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-twounits);
  background-color: var(--dl-color-gray-white);
}
.music-image {
  height: 2rem;
}
.music-separator {
  width: 100%;
  height: 1px;
  margin-top: var(--dl-space-space-oneandhalfunits);
  margin-bottom: var(--dl-space-space-oneandhalfunits);
  background-color: var(--dl-color-gray-900);
}
.music-hero {
  width: 100%;
  display: flex;
  padding: var(--dl-space-space-threeunits);
  position: relative;
  min-height: 80vh;
  align-items: center;
  flex-direction: column;
  background-size: cover;
  justify-content: center;
  background-image: url('https://images.unsplash.com/photo-1620121692029-d088224ddc74?ixid=Mnw5MTMyMXwwfDF8c2VhcmNofDR8fGRhcmslMjBibHVlJTIwbXVzaWN8ZW58MHx8fHwxNjQ2NTg3NDIy&ixlib=rb-1.2.1&w=1500');
  background-position: center;
}
.music-text {
  color: var(--dl-color-gray-white);
  font-size: 3rem;
  max-width: 60rem;
  margin-top: var(--dl-space-space-twounits);
  text-align: center;
  margin-bottom: var(--dl-space-space-twounits);
}
.music-link {
  color: var(--dl-color-gray-black);
  cursor: pointer;
  transition: 0.3s;
  padding-top: var(--dl-space-space-unit);
  padding-left: var(--dl-space-space-twounits);
  padding-right: var(--dl-space-space-twounits);
  padding-bottom: var(--dl-space-space-unit);
  text-decoration: none;
  background-color: var(--dl-color-gray-white);
}
.music-link:hover {
  transform: scale(1.02);
}
.music-blog {
  width: 100%;
  display: flex;
  padding: var(--dl-space-space-threeunits);
  max-width: var(--dl-size-size-maxwidth);
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
}
.music-container1 {
  display: flex;
  align-items: center;
  margin-bottom: var(--dl-space-space-twounits);
  flex-direction: column;
  justify-content: space-between;
  background-color: var(--dl-color-gray-white);
}
.music-blog-post-card {
  width: 100%;
  display: flex;
  max-width: var(--dl-size-size-maxwidth);
  box-shadow: 4px 4px 10px 0px rgba(18, 18, 18, 0.1);
  transition: 0.3s;
  align-items: stretch;
  flex-direction: row;
  justify-content: space-between;
  background-color: var(--dl-color-gray-white);
}
.music-blog-post-card:hover {
  transform: scale(1.02);
}
.music-image1 {
  width: 350px;
  height: 350px;
  object-fit: cover;
  flex-shrink: 0;
  border-radius: 0px;
}
.music-container2 {
  display: flex;
  align-items: stretch;
  padding-top: var(--dl-space-space-twounits);
  padding-left: var(--dl-space-space-twounits);
  padding-right: var(--dl-space-space-twounits);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-twounits);
  justify-content: space-between;
}
.music-text04 {
  margin-bottom: var(--dl-space-space-twounits);
}
.music-text05 {
  color: var(--dl-color-gray-500);
  font-size: 1.25rem;
  margin-bottom: var(--dl-space-space-twounits);
}
.music-container3 {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.music-profile {
  display: flex;
  align-items: center;
}
.music-image2 {
  width: var(--dl-size-size-small);
  height: var(--dl-size-size-small);
  object-fit: cover;
  border-radius: var(--dl-radius-radius-round);
}
.music-navlink {
  font-style: normal;
  font-weight: 600;
  margin-left: var(--dl-space-space-halfunit);
  text-decoration: none;
}
.music-text06 {
  color: var(--dl-color-gray-500);
  font-style: normal;
  font-weight: 400;
  margin-left: var(--dl-space-space-halfunit);
}
.music-text07 {
  font-style: normal;
  font-weight: 400;
}
.music-text08 {
  font-style: normal;
  font-weight: 400;
}
.music-navlink1 {
  color: var(--dl-color-gray-black);
  font-style: normal;
  font-weight: 500;
  text-decoration: none;
}
.music-container4 {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
  background-color: var(--dl-color-gray-white);
}
.music-blog-post-card1 {
  width: 100%;
  display: flex;
  max-width: var(--dl-size-size-maxwidth);
  box-shadow: 4px 4px 10px 0px rgba(18, 18, 18, 0.1);
  transition: 0.3s;
  align-items: stretch;
  flex-direction: row;
  justify-content: space-between;
  background-color: var(--dl-color-gray-white);
}
.music-blog-post-card1:hover {
  transform: scale(1.02);
}
.music-image3 {
  width: 350px;
  height: 350px;
  object-fit: cover;
  flex-shrink: 0;
  border-radius: 0px;
}
.music-container5 {
  display: flex;
  align-items: stretch;
  padding-top: var(--dl-space-space-twounits);
  padding-left: var(--dl-space-space-twounits);
  padding-right: var(--dl-space-space-twounits);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-twounits);
  justify-content: space-between;
}
.music-text09 {
  margin-bottom: var(--dl-space-space-twounits);
}
.music-text10 {
  color: var(--dl-color-gray-500);
  font-size: 1.25rem;
  margin-bottom: var(--dl-space-space-twounits);
}
.music-container6 {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.music-profile1 {
  display: flex;
  align-items: center;
}
.music-image4 {
  width: var(--dl-size-size-small);
  height: var(--dl-size-size-small);
  object-fit: cover;
  border-radius: var(--dl-radius-radius-round);
}
.music-navlink2 {
  font-style: normal;
  font-weight: 600;
  margin-left: var(--dl-space-space-halfunit);
  text-decoration: none;
}
.music-text11 {
  color: var(--dl-color-gray-500);
  font-style: normal;
  font-weight: 400;
  margin-left: var(--dl-space-space-halfunit);
}
.music-text12 {
  font-style: normal;
  font-weight: 400;
}
.music-text13 {
  font-style: normal;
  font-weight: 400;
}
.music-link1 {
  color: var(--dl-color-gray-black);
  font-style: normal;
  font-weight: 500;
  text-decoration: none;
}
.music-footer {
  width: 100%;
  display: flex;
  align-items: center;
  padding-top: var(--dl-space-space-twounits);
  padding-left: var(--dl-space-space-threeunits);
  padding-right: var(--dl-space-space-threeunits);
  padding-bottom: var(--dl-space-space-twounits);
  justify-content: space-between;
  background-color: var(--dl-color-gray-white);
}
.music-text14 {
  font-size: 12px;
}
.music-icon-group {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.music-link2 {
  display: contents;
}
.music-icon {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
  margin-right: var(--dl-space-space-twounits);
  text-decoration: none;
}
.music-link3 {
  display: contents;
}
.music-icon2 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
  margin-right: var(--dl-space-space-twounits);
  text-decoration: none;
}
.music-link4 {
  display: contents;
}
.music-icon4 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
  text-decoration: none;
}
@media(max-width: 991px) {
  .music-blog-post-card {
    flex-direction: row;
    justify-content: space-between;
  }
  .music-blog-post-card1 {
    flex-direction: row;
    justify-content: space-between;
  }
}
@media(max-width: 767px) {
  .music-header {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .music-separator {
    margin-top: var(--dl-space-space-oneandhalfunits);
    margin-bottom: var(--dl-space-space-oneandhalfunits);
  }
  .music-hero {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .music-blog {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .music-blog-post-card {
    flex-direction: column;
  }
  .music-image1 {
    width: 100%;
  }
  .music-blog-post-card1 {
    flex-direction: column;
  }
  .music-image3 {
    width: 100%;
  }
  .music-footer {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .music-text14 {
    text-align: center;
    margin-left: var(--dl-space-space-unit);
    margin-right: var(--dl-space-space-unit);
  }
}
@media(max-width: 479px) {
  .music-header {
    padding: var(--dl-space-space-unit);
  }
  .music-separator {
    margin-top: var(--dl-space-space-unit);
    margin-bottom: var(--dl-space-space-unit);
  }
  .music-hero {
    padding-top: var(--dl-space-space-twounits);
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    padding-bottom: var(--dl-space-space-twounits);
  }
  .music-blog {
    padding-top: var(--dl-space-space-twounits);
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    padding-bottom: var(--dl-space-space-twounits);
  }
  .music-text04 {
    font-size: 1.5em;
    margin-bottom: var(--dl-space-space-unit);
  }
  .music-text05 {
    font-size: 1rem;
  }
  .music-container3 {
    padding-left: 0px;
    padding-right: 0px;
  }
  .music-image2 {
    width: 40;
    height: 40;
  }
  .music-navlink {
    font-size: 14;
  }
  .music-text06 {
    width: 0;
    transform: scale(0);
  }
  .music-navlink1 {
    width: auto;
  }
  .music-text09 {
    font-size: 1.5em;
    margin-bottom: var(--dl-space-space-unit);
  }
  .music-text10 {
    font-size: 1rem;
  }
  .music-container6 {
    padding-left: 0px;
    padding-right: 0px;
  }
  .music-image4 {
    width: 40;
    height: 40;
  }
  .music-navlink2 {
    font-size: 14;
  }
  .music-text11 {
    width: 0;
    transform: scale(0);
  }
  .music-link1 {
    width: auto;
  }
  .music-footer {
    padding: var(--dl-space-space-unit);
    flex-direction: column;
  }
  .music-text14 {
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: var(--dl-space-space-unit);
  }
}
