.discord-container {
  width: 100%;
  display: flex;
  overflow: hidden;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  list-style-type: disc;
  background-image: linear-gradient(180deg, rgb(104, 104, 104) 0.00%,rgb(206, 206, 206) 99.00%);
  list-style-image: none;
  list-style-position: outside;
}
.discord-container1 {
  width: 332px;
  height: 720px;
  display: flex;
  box-shadow: 0px 0px 50px -30px #000000;
  border-radius: var(--dl-radius-radius-radius8);
  flex-direction: column;
  justify-content: center;
  background-color: #f1f1f1;
}
.discord-image {
  width: 100%;
  align-self: stretch;
  object-fit: cover;
  border-radius: var(--dl-radius-radius-radius8);
}
.discord-blog-post-card {
  width: 100%;
  display: flex;
  overflow: hidden;
  position: relative;
  max-width: var(--dl-size-size-maxwidth);
  align-items: center;
  border-radius: var(--dl-radius-radius-radius8);
  flex-direction: column;
  justify-content: center;
}
.discord-container2 {
  width: 100%;
  height: 400px;
  display: flex;
  padding: var(--dl-space-space-oneandhalfunits);
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
.discord-profile {
  display: flex;
  align-items: center;
  margin-bottom: var(--dl-space-space-unit);
  flex-direction: row;
  justify-content: flex-start;
}
.discord-image1 {
  width: var(--dl-size-size-small);
  height: var(--dl-size-size-small);
  object-fit: cover;
  border-radius: var(--dl-radius-radius-round);
}
.discord-navlink {
  font-size: 15px;
  font-style: normal;
  font-weight: 600;
  margin-left: var(--dl-space-space-halfunit);
  text-decoration: none;
}
.discord-text {
  width: 100%;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  margin-bottom: var(--dl-space-space-halfunit);
}
.discord-text1 {
  color: var(--dl-color-gray-500);
  text-align: center;
  font-weight: 400;
  margin-bottom: var(--dl-space-space-oneandhalfunits);
}
.discord-container3 {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
}
.discord-link {
  display: contents;
}
.discord-image2 {
  width: var(--dl-size-size-medium);
  align-self: flex-start;
  object-fit: cover;
  text-decoration: none;
}
.discord-container4 {
  flex: 0 0 auto;
  width: 100%;
  height: 1px;
  display: flex;
  margin-top: var(--dl-space-space-unit);
  align-items: flex-start;
  margin-bottom: var(--dl-space-space-unit);
  flex-direction: column;
  background-color: var(--dl-color-gray-900);
}
.discord-link1 {
  display: contents;
}
.discord-image3 {
  width: var(--dl-size-size-medium);
  align-self: flex-start;
  object-fit: cover;
  text-decoration: none;
}
.discord-container5 {
  flex: 0 0 auto;
  width: 100%;
  height: 1px;
  display: flex;
  margin-top: var(--dl-space-space-unit);
  align-items: flex-start;
  margin-bottom: var(--dl-space-space-unit);
  flex-direction: column;
  background-color: var(--dl-color-gray-900);
}
.discord-link2 {
  display: contents;
}
.discord-image4 {
  width: var(--dl-size-size-medium);
  align-self: flex-start;
  object-fit: cover;
  text-decoration: none;
}
.discord-container6 {
  flex: 0 0 auto;
  width: 100%;
  height: 1px;
  display: flex;
  margin-top: var(--dl-space-space-unit);
  align-items: flex-start;
  margin-bottom: var(--dl-space-space-unit);
  flex-direction: column;
  background-color: var(--dl-color-gray-900);
}
.discord-link3 {
  display: contents;
}
.discord-image5 {
  width: var(--dl-size-size-medium);
  align-self: flex-start;
  object-fit: cover;
  text-decoration: none;
}
.discord-text2 {
  color: var(--dl-color-gray-700);
  font-size: 12px;
  font-style: normal;
  margin-top: var(--dl-space-space-twounits);
  font-weight: 300;
}
@media(max-width: 991px) {
  .discord-container1 {
    margin-right: 0px;
    margin-bottom: var(--dl-space-space-threeunits);
  }
  .discord-image {
    height: 350px;
  }
}
@media(max-width: 479px) {
  .discord-text2 {
    margin-top: var(--dl-space-space-halfunit);
    text-align: center;
  }
}
